<!DOCTYPE html>
<html ng-app="todoMod">
  <head>
    <meta charset="utf-8">
    <title>node</title>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body ng-controller="todoCtrl" class="container">
  <div class="jumbotron text-center">
    <h1>待办事项</h1>
    <p>你有{{todos.length}}个待办事项</p>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offet-4">
      <div class="checkbox" ng-repeat="todo in todos">
        <label>
          <input type="checkbox" ng-click="select(todo._id)">{{todo.name}}
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offet-4">
      <form action="">
        <div class="form-group">
          <label for="thing">事件</label>
          <input type="text" class="form-control" id="thing" ng-model="todo.name">
        </div>
        <div class="form-group">
          <button class="btn btn-warning" ng-click="add()">增加</button>
          <button class="btn btn-danger" ng-click="delete()">批量删除</button>
        </div>
      </form>
    </div>
  </div>

  <script src="/lib/angular/angular.js"></script>
  <script>
    angular.module('todoMod',[]);
    angular.module('todoMod').factory('todoService',function($http){
      return {
        query:function(){
          return $http.get('/todos')
        },
        add:function(todo){
          return $http.post('/todos',todo);
        },
        delete:function(ids){
          return $http.post('/deltodos',{ids:ids});
        }
      }
    })
    angular.module('todoMod').controller('todoCtrl',function($scope,todoService){
        $scope.todo = {};
        $scope.todos = [];
        todoService.query().success(function(data){
          $scope.todos = data;
        });

        $scope.add = function(){
          todoService.add($scope.todo).success(function(data){
            $scope.todos.push(data);
            $scope.todo = {};
          });
        }

      $scope.ids = [];

      $scope.select = function(id){
        var index = $scope.ids.indexOf(id);
        if(index == -1){
          $scope.ids.push(id);
        }else {
          $scope.ids.splice(index,1);
        }
      }

      $scope.delete = function(){
        todoService.delete($scope.ids).success(function(){
          $scope.todos.filter(function(current){
            return $scope.ids.indexOf(todo._id) == -1;
          })
        });
      }
    });
  </script>
  </body>
</html>
